.movies {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    &__card {
        display: flex;
        border: 1px solid grey;
        border-radius: 10px;
        gap: 20px;
        max-width: 470px;
        min-height: 200px;
        max-height: 320px;

        &__img {
            img {
                object-fit: cover;
                max-height: 200px;
                min-height: 200px;
                border-radius: 10px;
            }
        }

        &__description {
            .text--description {
                margin-bottom: 6px;
            }

            .title {
                font-size: 1.1rem;
                margin-bottom: 6px;
            }
            span {
                margin-bottom: 6px;
                b {
                    color: yellow;
                }
            }
        }
        &__buttons {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            .button {
                padding: 10px 30px;
                font-size: 0.9rem;
                display: flex;
                justify-content: center;
                &:nth-child(1) {
                    margin-right: 12px;
                }
                &:nth-child(2) {
                    background-color: transparent;
                    color: grey;
                    border: 1px solid grey;
                }
            }
        }
    }
}
