@use "advertise";
@use "menu";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

@mixin title($fontSize: 1rem) {
    font-size: $fontSize;
    color: white;
}

@mixin text($fontSize: 1rem) {
    font-size: $fontSize;
    color: white;
    line-height: 24px;
}

.title {
    @include title(4rem);
    text-shadow: 5px 6px 5px black;
}

.title--subTitle {
    @include title(1.8rem);
    color: white;
    font-weight: bold;
}

.text {
    @include text(1rem);
    margin-bottom: 16px;
}

.text--subText {
    @include text(1.5rem);
    text-decoration: none;
    cursor: pointer;
}

.text--description {
    @include text(0.9rem);
    color: rgb(184, 184, 184);
}

.button {
    background-color: #fdff00;
    padding: 12px 68px;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}
